* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffff;

  --gray-100: #f0efef;
  --gray-300: #efeeee;
  --gray-400: #a3a3a3;
  --gray-750: #494949;
  --gray-850: #2b2b2b;
  --gray-900: #0e1011;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-100);
  color: var(--gray-850);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
