.cardContainer {
  padding: 0 0.8rem;
  padding-bottom: 0.4rem;
  padding-top: 1.125rem;

  background-color: var(--white);
  flex: 1;

  header {
    margin-bottom: 1rem;

    h6 {
      font-weight: 600;
      font-size: 1.125rem;
      color: var(--gray-750);
    }
  }
}
